body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  background: #ffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h3 { 
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
}

p{
  font-weight: 400;
  line-height: 1.5;
}

/*Top line*/
.logo {
  color: var(--IRIS, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-link {
  color: var(--NAVY-BLUE, #2E2F42);
  /* Body Medium */
  font-weight: 500;
  line-height: 1.50; 
}

.nav-link:hover,
.nav-link:focus {
  color: var(--NAVY-BLUE, #404bbf);
}

  /* Body */
.header-address {
  color: var(--SLATE, #434455);
  font-weight: 400;
  line-height: 1.50;
}

.header-address:hover,
.header-address:focus {
  color: var(--NAVY-BLUE, #404bbf);
}

/*hero*/
.hero {
  background: var(--NAVY-BLUE, #2e2f42);
}

/* Header 1 */
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; 
  color: var(--WHITE, #fff);
  text-align: center;
}

 /* Button Text */
.hero-btn {
  background: var(--IRIS, #4D5AE5);
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
  background: var(--IRIS, #404BBF);
  color: var(--WHITE, #fff);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 /* footer*/
 .footer-logo {
  color: var(--IRIS, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-part {
  color: var(--NAVY-BLUE, #F4F4FD);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
 .footer-text {
font-weight: 400;
line-height: 1.5;
color: var(--cloud, #F4F4FD);
 }

 